openapi: 3.0.3
info:
  title: GunTab REST FFLs Users API
  description: The GunTab REST API allows online firearms marketplaces and retail websites to integrate safe and convenient firearms payment processing, manage invoices (payment requests), confirm and fulfill orders, validate FFLs, and receive webhook events for transaction lifecycle changes.
  version: 1.0.0
  contact:
    name: GunTab
    url: https://www.guntab.com/documentation/rest-api
  license:
    name: Proprietary
servers:
- url: https://api.guntab.com/v1
  description: Production
security:
- TokenAuth: []
tags:
- name: Users
  description: Marketplace user lookup
paths:
  /users/{email}:
    get:
      tags:
      - Users
      summary: Read a user
      description: Marketplace-only endpoint to look up a user by URL-encoded email.
      operationId: readUser
      parameters:
      - in: path
        name: email
        required: true
        schema:
          type: string
          format: email
        description: URL-encoded email address.
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/Error'
components:
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
    User:
      type: object
      properties:
        email:
          type: string
          format: email
        verified:
          type: boolean
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Format: `Token {token_uuid}` issued to verified email users.'
